---
const { src, follows, ...props } = Astro.props
---

<div class="card" {...props}>
	<!-- 'https://images.pexels.com/photos/1047442/pexels-photo-1047442.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800' -->
	<img {src} />
	<span class="description">
		{follows} follows
	</span>
	<slot />
</div>

<style>
	div {
		height: 235px;
		width: 160px;
		margin: 50px;

		/* border-radius: 10px; */
	}

	img {
		height: 170px;
		width: 160px;
	}

	.description {
		height: 30px;
		background-color: var(--css-white);
	}
</style>
