---
import HTML from "../html.astro"
import { title } from "../main.json"
import Navbar from "../components/Navbar.astro"
import Card from "../components/Card.astro"
import Herosection from "../components/Herosection.astro"
---

<HTML {title}>
	<Navbar />
	<main>
		<Herosection
			title="100 Thousand Songs, ads-free"
			tagline="Over Thousands podcast episodes"
		/>

		<Card x-card src="/assets/AlbumImage.png" follows="22" />
	</main>
</HTML>

<script>
	import { endpoints } from "../main.json"
	const { get, select } = globalThis.x

	const data = await get(endpoints.top)
	const elements = select("[x-card]")
	const element = elements[0]
	console.log(element)

	// TODO: clone `element`s, fill them with `data`

	// for (let channel of data) {
	// 	for (let song of channel.songs) {
	// 		const elementData = { img: "/assets/AlbumImage.png", follows: 22 }
	// 	}
	// }
</script>

<style>
	@import url("../main.css");
</style>
